* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --titles: #19017a;
  --text: #27323a;
  --green: #016f19;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat Alternates", serif;
  color: var(--text);
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover,
button:hover {
  opacity: 0.8;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid green;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h2 {
  font-family: Montserrat Alternates;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: var(--titles);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="date"],
input[type="submit"],
input[type="number"],
input[type="time"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  border: 2px solid #bfbfbf;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header-page {
  padding: 20px 0;
}
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contact-menu {
  display: flex;
  align-items: center;
}

.messengers_header {
  display: flex;
}

.messengers_header .messengers__item {
  width: 30px;
  height: 30px;
  margin-right: 27px;
  background-repeat: no-repeat;
  background-size: contain;
}

.messengers__item_whatsapp {
  background-image: url(./img/icons/contacts/icon-whatsapp.svg);
}

.messengers__item_viber {
  background-image: url(./img/icons/contacts/icon-viber.svg);
}

.messengers__item_telegram {
  background-image: url(./img/icons/contacts/icon-telegram.svg);
}

.phones_header {
  font-size: 14px;
  margin-left: 130px;
}

.phones_header .phones__item:first-child {
  margin-right: 20px;
}

.nav {
  margin-left: 60px;
}

.hamb {
  position: relative;
  width: 40px;
  height: 27px;
  padding: 0;
}

.hamb__line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #19017a;
  border-radius: 4px;
}

.hamb__line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #19017a;
  border-radius: 4px;
}

.hamb__line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #19017a;
  border-radius: 4px;
}

.main-menu {
  display: none;
}
/* HEADER END */

/* BODY */

.phones-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #19017a;
  font-weight: bold;
  margin-bottom: 90px;
}

.phones-block .phones__icon {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/icons/contacts/icon-phone.svg);
  margin: 0 10px;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-list {
  display: flex;
}

.list_features {
  display: flex;
}

.features .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 4 - 20px);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.features__icon {
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 30px;
}

.list__desc {
  font-size: 22px;
  line-height: 1.5;
}

.list_routs {
  display: flex;
  flex-wrap: wrap;
}

.list_routs .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(100% / 3 - 30px);
  min-height: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.routs__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.routs__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(70, 70, 70, 0.5), rgba(70, 70, 70, 0.5));
}

.routs__title {
  position: relative;
  font-size: 28px;
  color: #ffb015;
  z-index: 1;
}

.routs__link {
  position: relative;
  min-width: 200px;
  padding: 15px 50px;
  background-color: #ffffff;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 20px;
  z-index: 1;
}

/* BODY END */

/* PAGE-BOOKING */

.container_form {
  width: 1094px;
  margin: auto;
}

.form_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: var(--titles);
}

.form-booking {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 20px;
}

.input {
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  margin-bottom: 18px;
  margin-top: 10px;
}

.label span {
  color: #bdbdbd;
  font-weight: bold;
  line-height: 20px;
  max-width: 100%;
}

.field-group {
  display: flex;
  justify-content: space-between;
}

.field-group label, .radio-group {
    width: calc(100% / 2 - 40px);
}

textarea {
  margin-top: 10px;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.radio-group{
  display: flex;
  flex-direction: column;

}

.order-btn {
  padding: 10px 15px;
  color: var(--green);
  border: 2px solid var(--green);

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

form .order-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/* FOOTER */
.footer-page {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(207, 238, 252, 0) 0%,
    rgba(181, 228, 250, 0.32) 40.52%,
    rgba(157, 219, 248, 0.8) 99.48%
  );
}

.footer-page a {
  color: var(--text);
}

.footer-page h3,
.email-footer {
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0;
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-menu li {
  margin-right: 40px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.phohes_footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 71px;
  margin-top: 50px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  font-size: 12px;
  line-height: 14px;
}

.law {
  text-decoration: underline;
}

.law a:first-child {
  margin-right: 30px;
}

.email-footer a {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}
/* FOOTER END */
