/* Colors */
$c-white: #ffffff;
$c-black: #000000;
$main-bg: #ffffff;

$azul: #0f4beb;
$lightish-blue: #3a6af2;
$pale-grey: #e7edfd;
$vermillion: #ff2306;
$orangey-red: #ff5130;
$black: #000000;
$black-two: #323232;
$brownish-grey: #5f5f5f;
$brown-grey: #8b8b8b;
$very-light-pink: #ebebeb;
$very-light-pink-two: #f3f3f3;
$tealish-green: #09d36a;
$tangerine: #ff9b00;

/* Fonts */
$f-sans-serif: sans-serif;

/* Base variables */
$main-font: $f-sans-serif;
$main-font-size: 16px;
$main-line-height: 1.5;
$main-text-color: $c-black;
$heading-font: $f-sans-serif;
$heading-color: $c-black;
$link-color: $azul;
$link-color-hover: $lightish-blue;
$secondary-text-color: $c-white;

$default-transition-time: .3s;
$default-transition: all $default-transition-time ease;

/* media queries */
$big-phone-up: 'screen and (min-width: 400px)';
$tablet-portrait-up: 'screen and (min-width: 600px)';
$tablet-landscape-up: 'screen and (min-width: 900px)';
$laptop-up: 'screen and (min-width: 1200px)';
$desktop-up: 'screen and (min-width: 1600px)';
